version: '3.8'

services:
  app:
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_APP_URL: ${PROD_APP_URL}
      DATABASE_URL: ${PROD_DATABASE_URL}
      
      # Azure Production Resources
      AZURE_STORAGE_ACCOUNT_NAME: ${PROD_AZURE_STORAGE_ACCOUNT_NAME}
      AZURE_STORAGE_ACCOUNT_KEY: ${PROD_AZURE_STORAGE_ACCOUNT_KEY}
      AZURE_SPEECH_KEY: ${PROD_AZURE_SPEECH_KEY}
      AZURE_SPEECH_REGION: ${PROD_AZURE_SPEECH_REGION}
      AZURE_OPENAI_ENDPOINT: ${PROD_AZURE_OPENAI_ENDPOINT}
      AZURE_OPENAI_KEY: ${PROD_AZURE_OPENAI_KEY}
    restart: always
